<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.klsoukas.samplecarshoponlinemanagement.controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCarServlet</servlet-name>
        <servlet-class>com.klsoukas.samplecarshoponlinemanagement.controller.AddCarServlet</servlet-class>
        <multipart-config>
            <max-file-size>8388608</max-file-size>
            <max-request-size>83886080</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ImageServingServlet</servlet-name>
        <servlet-class>com.klsoukas.samplecarshoponlinemanagement.controller.ImageServingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModCarServlet</servlet-name>
        <servlet-class>com.klsoukas.samplecarshoponlinemanagement.controller.ModCarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainPage</url-pattern>
        <url-pattern>/Main</url-pattern>
        <url-pattern>/Home</url-pattern>
        <url-pattern>/index</url-pattern>
        <url-pattern>/mycars</url-pattern>
        <url-pattern>/myCars</url-pattern>
        <url-pattern>/Mycars</url-pattern>
        <url-pattern>/MyCars</url-pattern>
        <url-pattern>/MYCARS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCarServlet</servlet-name>
        <url-pattern>/addcars</url-pattern>
        <url-pattern>/addCars</url-pattern>
        <url-pattern>/Addcars</url-pattern>
        <url-pattern>/AddCars</url-pattern>
        <url-pattern>/ADDCARS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModCarServlet</servlet-name>
        <url-pattern>/modcars</url-pattern>
        <url-pattern>/modCars</url-pattern>
        <url-pattern>/Modcars</url-pattern>
        <url-pattern>/ModCars</url-pattern>
        <url-pattern>/MODCARS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServingServlet</servlet-name>
        <url-pattern>/ImageFiles/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>MainPage</welcome-file>
        <welcome-file>main</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
